<div class="box">
  <div class="box-content">
    <h2>Redes Sociais</h2>
    <p>Me siga</p>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="box-item">
            <div class="box-content"><img height="30px" src="img/icons/twitter.svg" alt="Twitter"></div>
          </div>
        </div>
        <div class="col-4">
          <div class="box-item">
            <div class="box-content"><img height="30px" src="img/icons/facebook.svg" alt="Twitter"></div>
          </div>
        </div>
        <div class="col-4">
          <div class="box-item">
            <div class="box-content"><img height="30px" src="img/icons/instagram.svg" alt="Twitter"></div>
          </div>
        </div>
        <div class="col-4">
          <div class="box-item">
            <div class="box-content"><img height="30px" src="img/icons/linkedin.svg" alt="Twitter"></div>
          </div>
        </div>
        <div class="col-4">
          <div class="box-item">
            <div class="box-content"><img height="30px" src="img/icons/github.svg" alt="Twitter"></div>
          </div>
        </div>
        <div class="col-4">
          <div class="box-item">
            <div class="box-content"><img height="30px" src="img/icons/whatsapp.svg" alt="Twitter"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>