<div class="col-sm-2 col-4">
  <div class="box">
    <div class="box-content"><img src="img/icons/html5.svg" height="30px" alt="Ícone html5"></div>
  </div>
</div>

<div class="col-sm-2 col-4">
  <div class="box">
    <div class="box-content"><img src="img/icons/css3.svg" height="30px" alt="Ícone css3"></div>

  </div>
</div>

<div class="col-sm-2 col-4">
  <div class="box">
    <div class="box-content"><img src="img/icons/node-js.svg" height="30px" alt="Ícone nodejs"></div>
  </div>
</div>

<div class="col-sm-2 col-4">
  <div class="box">
    <div class="box-content"><img src="img/icons/wordpress.svg" height="30px" alt="Ícone wordpress"></div>
  </div>
</div>

<div class="col-sm-2 col-4">
  <div class="box">
    <div class="box-content"><img src="img/icons/php.svg" height="30px" alt="Ícone PHP"></div>
  </div>
</div>

<div class="col-sm-2 col-4">
  <div class="box">
    <div class="box-content"><img src="img/icons/bootstrap.svg" height="30px" alt="Ícone PHP"></div>
  </div>
</div>